@import url("common.css");

.content .inner{width:90%; margin:auto; }
.content .tit{font-size:18px; font-weight:600; margin:20px 0; color:#495057; }
.content .tit .loca{font-size: .875rem; float:right; display:inline-block; }
.content .tit .loca a{color:#495057}
.content .tit .loca span.bar{font-size: .775rem; color:#74788d; display:inline-block; padding:0 .5rem;}
.content .tit .loca span.pgNm{color:#495057}
.content .stit-group{display:table; width:100%; margin-bottom:.8rem;}
.content .stit-group h2{font-size:14px; margin-top:12px; font-weight:600; float:left;}
.content .btn_set{float:right; }
.content .btn_set .btn_search{background:#4549a2; border-color:#4549a2; color:#fff;}
.content button.dt-button,
.content .btn_set .btn_01{background:#ebebf1; border-color:#ebebf1; color:#000}
.content .btn_set .btn_search:hover {color: #fff;background-color: #4549a2;border-color: #414598;}
.content button.dt-button:hover,
.content .btn_set .btn_01:hover {color: #000;background-color: #ececf1;border-color: #ececf1;}
.content .box_search{padding: 1rem 1.25rem; background:#eee; border:1px solid #e9e9ef; border-radius:.25rem; }
.content .box_search input,
.content .box_search label,
.content .box_search select,
.content .box_search span{display:inline-block; }
.content .box_search .mar0{margin:0 1rem 0 .8rem;}
.content .box_search .mar1,
.content .box_search .mar2{margin:0 .5rem;}
.content .box_search .f-sm{width:120px;}
.content .box_search .f-sm1{width:100px;}
.content .box_search .f-sm2{width:100px;}
.content .box_search .f-sm3{width:200px;}
.content .box_search .f-sm4,
.content .box_search .f-sm5{width:140px;}
.content .box_search #ywal:not(.f-sm2){display:none;}
.content .box_search .btn_search{background:#4549a2; border-color:#4549a2; color:#fff; }
.content .box_search .btn_save{background:#54585a; border-color:#54585a; color:#fff; }
.content .box_search div{display:inline-block;}
.content .box_search2 div{width:19%; }
.content .box_search3 div{width:24%; }
.content .tb{width:100%; margin:20px 0;overflow: hidden; }
.content .tb-pop{overflow:auto}
.content .tb table{width:100%; table-layout: fixed;}
.content .tb #list{min-width:100%; width:2000px;}
.content .tb #list2, 
.content .tb #list3{width:auto; margin:0; }
.content .tb .container{width:100%;}
.content .tb table th, 
.content .tb table td{font-size:14px; padding: .75rem 0rem; text-align:center; border-bottom:1px solid #e9e9ef}
.content .tb table th{font-weight:600; cursor:move;}
.content .tb table td .status2{color:#ff0000; font-weight:600; }
.content .tb table td .status3{color:blue; font-weight:600; }
.content .tb table td select{font-size:14px; padding: .375rem .55rem;}
.content .tb table td select.sel{max-width:90%; }
.content .tb table tr:hover td{background-color:#eee; }
.content .tb #list3 th{cursor:default;}
.content .tb #list3 tbody tr{cursor:pointer;}
.content .tb table .t_00{width:40px; min-width:30px;}
.content .tb table .t_01{width:80px; min-width:70px; }
.content .tb table .t_02{width:120px;	min-width:100px;  }
.content .tb table .t_03{width:200px; min-width:180px;}
.content .tb table .t_04{width:170px; min-width:150px;}
.content .tb table .t_05{width:90px; min-width:80px;}
.content .tb table .t_06{width:220px; min-width:200px;}
.content .tb table .t_07{width:330px; min-width:300px;}
.content .tb table .hide_txt{text-overflow: ellipsis;white-space: nowrap;overflow: hidden;}
.content .tb table .t_subj{text-align:left; }
.content .align p{font-size:14px; text-align:right; }
.content .align p .num{color:#414598}
.content .btns{text-align:right; margin-top:30px; }
.content .btns .btn-ok{width:140px; color: #fff;background-color: #5156be;border-color: #5156be; box-shadow: 0 2px 6px 0 rgb(81 86 190 / 50%); }
.content .btns .btn-ok:hover{background-color: #4549a2;border-color: #414598;}
.content .dataTables_wrapper .dataTables_paginate .paginate_button.current{background:transparent; border:0;}
.content .dataTables_wrapper .dataTables_paginate .paginate_button.current:hover{background:#eee; border:0;}

@media (max-width:1060px) {
.content .accept_search .hide_m{display:none;}
}
@media (max-width:1050px) {
.content .box_search .f-sm{width:100px;}
.content .box_search .f-sm1{width:80px;}
.content .box_search .form-control{height:38px; font-size:13px;}
}
@media (max-width:980px) {
.content .box_search .btn_search, .content .box_search .btn_save{font-size:14px; }
}
@media (max-width:950px) {
.content{margin-top:70px;}
.con-pop{margin-top:30px;}
}
@media (max-width:768px) {
	.content .box_search div label.hide_m{display:none;}
.content .box_search:not(.no-respon) div.m_mar{margin-bottom:10px; text-align:left;}
	.content .box_search:not(.no-respon) div:not(.inline){margin-top: 15px; display:table; width:100%; text-align:center;}
	.content .box_search:not(.no-respon) div.date_group{margin-top:0;}
	.content .box_search:not(.no-respon) div:first-child{margin-top:0;}
	.content .box_search:not(.no-respon) div label{margin-bottom:0;}
	.content .box_search:not(.no-respon) div.inline{text-align:center;}
	.content .box_search:not(.no-respon) .btn_search{width:100%;}
	.content .box_search.no-respon2 div label{margin-right:2%;}
	.content .box_search.no-respon2 .btn_search{width:60px; margin-left:2%; }
	.content .box_search:not(.no-respon) .btn_save{margin-left:2%;}
	.content .box_search:not(.no-respon) .btn2{float:left; width:49%; }
	.content .box_search:not(.no-respon) .f-sm{float:left; width:45%;}
	.content .box_search:not(.no-respon) .mar1{float:left; width:10%; margin:0;}
	.content .box_search .mar2{margin:0px .3rem}
	.content .box_search .f-mar2{margin-right:.3rem}
	.content .box_search:not(.no-respon) .f-sm1{float:left; width:50%;}
	.content .box_search:not(.no-respon) .f-sm1#hospi_code{width:49%; margin-right:2%;}
	.content .box_search:not(.no-respon) .f-sm1#hospi_name{width:49%;}
}
@media (max-width:568px) {
.content .stit-group h2{display:none}
.content div.dt-buttons{display:none}
.content .box_search input{font-size: 13px;}
.content .no-respon div{display:table; width:100%; text-align:center;}
.content .no-respon .btn_search{width:100%; margin-top:.8rem;}
.content .no-respon label{display:none;}
.content .box_search:not(.no-respon) .inline{margin-top: 15px; display:table; width:100%; text-align:center;}
.content .box_search.no-respon2 .btn_search{width:55px;}
.content .box_search .f-sm3{width:160px; padding: .375rem .35rem;}
.content .box_search .f-sm4{width:130px; padding: .375rem .35rem;}
.content .box_search .f-sm5{width:110px; padding: .375rem .25rem;}
.content .accept_search .f-sm4{width:100%; }
.content .accept_search .f-sm2{width:49%; margin-right:2%;}
.content .accept_search .f-sm5{width:49%;}
.content .tb{width:100%; height:auto; margin:15px 0;}
.content .tb table{width:2200px;}
.content .tb table th, 
.content .tb table td{font-size:13px; padding: .55rem 0rem;}
.content .tb table .t_01{width:60px; }
.content .tb table .t_02{width:100px; }
.content .tb table .t_03{width:180px; }
.content .tb table .t_04{width:150px; }
.content .tb table .t_05{width:70px; }
.content .tb table .t_06{width:200px; }
}